{% extends "g_cloud/base.html" %}
{% block content %}

 {% for file in files %}
     {% for fi in files %}
       {% for f in fi %}
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
           <a href="{% url "g_cloud:download" f.id %}"
           <i class="fa fa-file-text" style="font-size:38px;color:blue"></i>
           <p style="margin-right:50px;font-size:11px">{{f.filename}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></a> 
 {% endfor %}
   {% endfor %}
     {% endfor %}
 {% endblock content %}
